body {
	background-color: #C0C0C0;
}
h1 {
	color: Green;
	text-align: center;
}

h2 {
	color: red;
	text-align: left;
	font: italic 10pt Verdana, Sans-serif;
}
h3 {
	color: #fc0;
	text-align: left;
	font: italic 10pt Verdana, Sans-serif;
}
p {
	color: blue;
	text-align: center;
}
